div.onglets {
    margin: 5vw;
    padding: 1vw;
    display: flex;
    justify-content: space-around;
}

div.onglets li {
    font-family: var(--display-font);
    font-size: 24px;
    transition: 0.2s color;
}

div.onglets li:hover {
    color: var(--main-accent-color);
    transition: 0.2s color;
}
