div.animation-tabs {
    width: 2vw;
    height: fit-content;
    position: fixed;
    top: 42%;
    right: 0;
    margin: 2vw 8vw 0 0;
}

.dot {    
    padding: 1vw;
    border-radius: 100px;
    background-color: var(--main-light-color);
    transition: 0.5s background-color;
}

.dot:hover {
    background-color: var(--main-accent-color);
}

.p5Canvas {
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    z-index: -1;
}