div.animation-tabs {
    width: 2vw;
    height: fit-content;
    position: fixed;
    top: 42%;
    right: 0;
    margin: 2vw 8vw 0 0;
}

.dot {    
    padding: 1vw;
    border-radius: 100px;
    background-color: var(--main-accent-color);
}

#canvas {
    overflow: hidden;
}