/* 
Nom du fichier  : algorithm.css
Description     : Fichier CSS contenant les styles de la page 'Animation'
Auteur          : Jessica Chan
Autre étudiant  : Sebastian Perez 
*/

div.animation-tabs {
    width: 2vw;
    height: fit-content;
    position: fixed;
    top: 42%;
    right: 0;
    margin: 2vw 8vw 0 0;
}

.dot {    
    padding: 1vw;
    border-radius: 100px;
    background-color: rgb(51, 51, 51);
    opacity: 0.8;
    transition: 0.5s background-color, transform;
}

.dot:hover {
    background-color: var(--main-accent-color);
    opacity: 1;
    transform: scale(1.05);
}

.p5Canvas {
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    z-index: -1;
}