.msg-erreur {
    display: none;
    color: red;
    font-size: 12px;
    padding: 1vw;
    margin-top: 1vw;
    margin-bottom: -18px;
    text-transform: uppercase;
    text-align: left;
}

section {
    display: flex;
    height: 100%;
}

.login section h1 {
    flex-basis: 50%;
    width: fit-content;
}

.register section {
    height: auto;
}

.register section h1 {
    flex-basis: 50%;
    text-align: right;
}

#reg-nom {
    width: 48%;
    margin-right: 2%;
}

#reg-prenom {
    width: 48%;
    margin-left: 2%;
}

form {
    text-align: center;
    height: fit-content;
    align-self: center;
    flex-basis: 50%;
    width: 40vw;
    margin-right: 5vw;
    margin-top: 6vw;
}

input {
    box-sizing: border-box;
    width: 40vw;
    height: 50px;
    margin-top: 20px;
    background-color: var(--main-dark-color);
    border: 1px solid white;
    border-radius: 20px;
    font-size: 12px;
    padding: 0 1.5vw;
}

/*focus : targeted by the keyboard, or 
activated by the mouse, usually used for 
input and textarea*/
input:focus {
    outline: none;
    border-color: var(--main-accent-color);
    color: var(--main-accent-color);
}

button {
    font-family: var(--display-font);
    width: 30%;
    border-radius: 20px;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    margin-top: 2vw;
    padding: 1vw;
    border: none;
}

::placeholder {
    color: var(--main-accent-color);
    opacity: 0.5;
}

li {
    margin-top: 1vw;
    color: var(--main-accent-color);
}

#log-register {
    color: var(--main-light-color);
    margin-top: 4vw;
    text-align: right;
    line-height: 15px;
    opacity: 0.8;
}

