div.onglets {
    margin: 5vw;
    padding: 1vw;
    display: flex;
    justify-content: space-around;
}

div.onglets li {
    color: var(--main-light-color);
    font-family: var(--display-font);
    font-size: 24px;
    transition: 0.2s color;
}

div.onglets li:hover {
    color: var(--main-accent-color);
    transition: 0.2s color;
}

div.stats {
    font-family: var(--display-font);
    border: 1px solid var(--main-light-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2vw;
}

div.stats div.data {
    height: 100%;
    width: 100%;
}

div.stats div.data div.nb{
    font-size: 6rem;
}

div.tag {
    font-family: var(--display-font);   
    font-size: inherit;
    color: var(--main-accent-color);
    margin-top: 2vw;
}

img {
    width: 8vw;
    height: auto;
}

#stats-username {
    color: var(--main-light-color);
    margin-top: 1vw;
}


