/* 
Nom du fichier  : profile.css
Description     : Fichier CSS contenant les styles de la page 'Profil'
Auteur          : Jessica Chan
Autre étudiant  : Sebastian Perez 
*/

h2 {
    margin: 5vw;
    padding: 1vw;
    display: flex;
    justify-content: space-around;
    font-family: var(--display-font);
    font-size: 2vw;
    letter-spacing: 0.8vw;
}

div.stats {
    font-family: var(--display-font);
    border: 1px solid var(--main-light-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2vw;
}

div.stats div.data {
    height: 100%;
    width: 100%;
}

div.stats div.data div.nb{
    font-size: 6rem;
}

.my-animations{
    justify-content: center;
}

#username-container {
    display: flex;
}

.user-icon {
    margin-left: 6vw;
}

#stats-username {
    color: var(--main-light-color);
    margin-left: 2vw;
    font-size: 3vw;
    margin-top: 1vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid var(--main-accent-color);
}

div.tag {
    font-family: var(--display-font);   
    font-size: inherit;
    color: var(--main-accent-color);
    margin-top: 2vw;
}


