/* 
Nom du fichier  : settings.css
Description     : Fichier CSS contenant les styles du menu glissant de la page 'Animation'
Auteur          : Jessica Chan
Autre étudiant  : Sebastian Perez 
*/

#button {
    width: fit-content;
    height: auto;
    transform: rotate(270deg);
    position: fixed;
    top: 50%;
    left: 0;
    margin-left: 2vw;
    border: none;
    background: none;
    font-family: var(--display-font);
    color: var(--main-accent-color);
    font-size: 25px;
    letter-spacing: 0.2vw;
}

button {
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}

#menu {
    width: 24vw;
    height: 100vh;
    background-color: var(--main-accent-color);
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
}
  
#menu.hide {
  transform: translate3d(-100vw, 0, 0);
}
  
#menu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
  
#menu div.buttonContainer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  margin: 0 2vw 6vw 2vw;
}

#menu div.buttonContainer button{
  font-size: 20px;
  width: 100%;
  letter-spacing: 0.2vw;
}

#partage {
  border: 4px solid var(--main-light-color);
  background-color: transparent;
  color: var(--main-light-color);
}

#fermer {
  font-family: var(--display-font);
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  color: var(--main-light-color);
  opacity: 0.6;
  margin-right: 2vw;
  background-color: transparent;
  letter-spacing: 0.1vw;
  }

  #messageContainer {
    display: none;
    font-size: 50px;
    font-family: var(--display-font);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 1vw;
    transform: translate(-50%, -30%);
    border: 4px solid var(--main-light-color);
    border-radius: 20px;
    animation: fade-out 2.5s;
}

@keyframes fade-out {
  0% {
      opacity: 1;
  }
  10% {
    opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
